@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Rubik', sans-serif;
  /* border: 2px solid red; */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1f;
  box-shadow: 1px 1px 5px #39393a;
}

::-webkit-scrollbar-thumb {
  background: #EA7600;
}


.input{
  width: 100%;
  padding: 10px;
  border: 2px solid #CCCCCC;
  border-radius: 0.5rem;
  outline: none;
}

.input::placeholder{
  font-size: 12px;
}

.input:focus{
  border: 2px solid #EA7600;
  transition: 0.5s;
}